/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* CSS Variables */

:root {
    --navbar-height: 59px;
}

/* Navigation bar */

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}

/* Navigation bar: Logo and Image */

#logo {
    margin: 25px 35px;

}

#logo img {
    margin: -32px 11px;
    height: 70px;

}


/* Navigation bar: List Styling */

#navbar ul {
    display: flex;

}

#navbar ul li {
    list-style: none;
    font-size: 1.3 rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: rgb(255, 162, 0);
    font-weight: bold;
    text-decoration: underline;
    /* background-color: rgb(151, 255, 47); */
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 465px;
    justify-content: center;
    align-items: center;

}

#home::before {
    content: "";
    position: absolute;
    background: url('../img/newbg1.jpg') no-repeat center center/cover;
    height: 607px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.85
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home h1 span {
    color: white;
    text-align: center;
    color:rgba(0, 255, 21, 0.696)
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;

}

/* Controller section */

#contoller-container {
    margin-top: 66px;
    margin-bottom: 66px;
}

#contoller {
    margin: 34px;
    display: flex;
}

/* Style inputs, select elements and textareas */
input[type=text],input[type=number], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }




/* model Section */

 #model {
    position: relative;
}

#model::before {
    content: "";
    position: absolute;
    background: url('../img/modelbg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;

}

#model .left{
    font-family: 'Bree Serif', serif;
    margin-top: 20px ;
    margin-left: 30px;
    margin-right: 30px;
    padding :  20px;
    font-size: 20px;
}

#image img {
height: 250px;
}
/*
#model-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}

#model-box input,
#model-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#model-box form {
    width: 40%;
}

#model-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
} */


/* Footer */

footer {
    background: black;
    color: white;
    padding: 9px 20px;

}

/* Utility Classes */

.h-primary {
    font-size: 3.0rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.h-secondary {
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 32px;
    font-size: 1.5rem;
    border-radius: 15px;
    cursor: pointer;
}

.btn:hover {
    border: 3px solid white;
    background-color: rgb(221, 184, 20);
    color: white;
    font-size: 1.6rem;

}

.btn-1 {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(30, 176, 30);
    color: white;
    margin: 32px;
    font-size: 1.5rem;
    border-radius: 15px;
    cursor: pointer;
}

.btn-1:hover {
    border: 3px solid white;
    background-color: rgb(114, 113, 109);
    color: white;

}

.center {
    text-align: center;
}
